*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout{
    background-color: black;
    color: #D3D3D3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
                        "header"
                        "navbar"
                        "main_container"
                        "footer";
    gap: 8px;
    margin: 5px 5px 20px 5px;
}
#header, .navbar, .main_content, .main_content_home, .second_nav{
    /* border: 1px solid white; */
    background-color: #333333;
    border-radius: 8px;
    padding: 5px;
}
/* *************Main Layout End************ */
#header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
#header ul{
    list-style: none;
    display: flex;
}
#header ul a{
    text-decoration: none;
    color: #D3D3D3;
    padding: 0 20px;
    font-size: 20px;
}
.logo{
    text-align: center;
    padding: 15px;
}
.logo h2 a{
    font-size: 35px;
    font-weight: bolder;
    text-decoration: none;
    color: #D3D3D3;
}
/* *************Nav Bar Start************ */
.navbar{
    padding: 15px 5px;
}
.navbar ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    gap: 60px;
}
.navbar ul li, .second_nav ul li{
    display: inline-block;
    position: relative;
}
.navbar li a, .second_nav li a{
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    background-color: #202020;
    border-radius: 10px;
    color: #D3D3D3;
    font-size: 20px;
    white-space: nowrap;
    box-shadow: 10px 11px 10px #14141488;;
}
.navbar li a:hover, .second_nav li a:hover{
    background-color: black;
    transform: scale(1.2);
}
.active{
    scale: 1.2;
    background-color: black !important;
    z-index: 1000px;
}
/* *************Nav Bar End************ */
/* *************Main_container Start************ */
.main_content, .main_content_home{
    text-align: center;
    padding: 15px;
}
.second_nav{
    text-align: center;
    padding: 8px 5px;
    position: sticky;
    top: 5px;
    z-index: 1000;
}
.second_nav ul{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 15px;
}
.second_nav ul li a {
    font-size: 18px;
}
.video_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.video_block{
    width: 100%;
    /* height: 100%; */
    border-radius: 20px;
    background-color: #29272788;
    box-shadow: 10px 11px 10px #14141488;
    padding-bottom: 20px;
}
iframe{
    border-radius: 20px 20px 0 0;
    aspect-ratio: 16 / 9;
    width: 100%;
}
.video_block h4, .video_block p{
    margin-top: 10px;
    font-size: 20px;
}
.video_block:hover{
    transform: scale(1.05);
}
/* ************EVENTS PAGE*************** */
.events{
    margin-left: auto;
    margin-right: auto;
}
.events h2{
    text-align: center;
    font-size: 35px;
}
.calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.calendar {
    
}
.calendar h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}
.monthly {
    border: 1px solid white;
    padding: 10px 10px 0 10px;
    background-color: #292929;
    border-radius: 10px;
    max-width: 500px;
    min-width: 250px;
}
.info_container h4, .info_container p{
    white-space: nowrap;
}
.container_1{
    border: 1px solid white;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 10px;
}
.info_container, .date_container {
    align-content: center;
    margin: 8px;
}
.info_container{
    text-decoration: none;
    color: #D3D3D3;
}
.date_container{
    text-align: center;
    border-radius: 8px;
    border: 1px solid #D3D3D3;
    padding: 10px;
    text-transform: uppercase;
}
.container_1:hover {
    background-color: #131313;
}
.container_1:hover .info_container h4,
.container_1:hover .info_container p {
    transform: translateX(10px);
    transition: transform 0.3s ease;
}
.container_1:hover .date_container {
    background-color: red;
}
/* ****************Media queries************** */
 @media (max-width: 1100px) {
    .navbar{
        padding: 12px 4%;
    }
}
@media (max-width: 1000px) {
    .navbar ul{
        gap: 40px;
    }
}
@media (max-width: 900px) {
    .video_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .navbar ul{
        gap: 35px;
    }
}
@media (max-width: 800px) {
    .navbar {
    }
    .navbar ul {
        gap: 18px;
    }     
    ul li a {
        text-align: center;
    }
    .active{
        scale: 1.1;
        background-color: black;
    }
}
@media (max-width: 750px) {
    .video_container{
    grid-template-columns: repeat(1, 1fr);
    }
    .navbar ul li a, .second_nav ul li a{
        font-size: 18px;
    }
}
@media (max-width: 600px) {
    .layout{
        gap: 8px;
        margin: 5px;
    }
    .main_content, .main_content_home{
        padding: 8px;
    }
}

/* **********Events page POP UP************* */

/* Pop-up container, initially hidden */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    justify-content: center;
    align-items: center;
}

/* Pop-up content */
.popup-content {
    background-color: #333333;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    max-width: 500px;
}

/* Close button styling */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

/* Center the image */
.popup-content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto; /* Center the image horizontally */
}
